#####################
#### MY PROGRAMS ####
#####################

## Documentation for configurate your Keywords:
## hhtps://wiki.hyprland.org/Configuring/Keywords/

# System:
$terminal = kitty
$fileManager = dolphin
$menu = wofi --show drun

# Web browsers:
$firefox = firefox

# Programs
$discord = flatpak run com.discordapp.Discord
