################################
### LOOK AND FEEL DECORATION ###
################################

## Documentation:
## hhtps://wiki.hyprland.org/Configuring/Variables
## hhtps://wiki.hyprland.org/Configuring/Variables/#variables-types
## hhtps://wiki.hyprland.org/Configuring/Variables/#decoration
## https://wiki.hyprland.org/Configuring/Variables/#blur

decoration {
	rounding = 5
	active_opacity = 1
	inactive_opacity = 0.85

	drop_shadow = true
	shadow_range = 4
	shadow_render_power = 3
	col.shadow = rgba(1a1a1aee)

	blur {
		enabled = true
		size = 3
		passes = 1
		vibrancy = 0.1696
	}
}
