#-------------------------------#
# 	LOOK AND FEEL GENERAL 	#
#-------------------------------#

## Documentation:
## hhtps://wiki.hyprland.org/Configuring/Variables
## hhtps://wiki.hyprland.org/Configuring/Variables/#variables-types
## hhtps://wiki.hyprland.org/Configuring/Variables/#general

general {
	gaps_in = 6
	gaps_out = 6
	
	border_size = 5

	col.active_border = &color10 $color0 45deg
	col.inactive_border = $color9

	# True enable resizing windows dragging on borders/gaps
	resize_on_border = false

	# See hhtps://wiki.hyprland.org/Configuring/Tearing
	allow_tearing = false

	layout = dwindle
}
